---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Augusto Mafra</h1>
			<p class="hero__text">
				Los datos cuentan historias, 
				yo las convierto en estrategias que generan resultados
			</p>
			<Boton href="#" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
