---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Mi enfoque está basado en el uso de herramientas como Power BI, SQL y Python para extraer, transformar y visualizar datos de manera efectiva.
		</p>
		<p>
			En este portafolio encontrarás proyectos en los que combino habilidades técnicas con estrategias empresariales para resolver desafíos reales.
		</p>
		<p>
	</div>
</section>
