---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre mí" />
			<p class="about__text">
				Soy Augusto, analista de datos con experiencia en implementar soluciones 
				que potencian la toma de decisiones en sectores como logística y ecommerce.
			<p>	
                A través de herramientas como Power BI, SQL y Python, desarrollo análisis claros, 
				visualizaciones personalizadas y automatizaciones que optimizan la eficiencia empresarial.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
